<!DOCTYPE html>
<html>
    <head>
        <title>BlogIt</title>
    </head>
    <body>
        <header>
            <h1><a>BlogIt</a></h1>
        </header>
        <br>
        <br>
        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a>{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}


        <!-- <article>
            
            <h2><a href="">My first post</a></h2>
            <time>Published: 13.03.2023, 10:20</time>
            <p>Hey there! I'm Sharan. This is my very first post!</p>
        </article>
        <br>
        <br>
        <article>
            
            <h2><a href="">My second post</a></h2>
            <time>Published: 13.03.2023, 10:53</time>
            <p>Hey there! This is my second post!</p>

            
        </article> -->
    </body>
</html>